<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Your Blog Posts</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex flex-col min-h-scrren bg-gray-100 font-sans antialised">
    <!--Navbar-->
    <nav class="bg-purple-600 p-4 text-white flex justify-between" >

        <div>
            <h1 class="text-2xl font-bold">     
                AI Blog Generator        
            </h1>
        </div>
        <div>
            <a href="#" class="text-white hover:underline">Logout</a>
            <a href="/blog-list" class="text-white hover:underline mx-4">Saved Blog Posts</a>
        </div>
    </nav>
    <br>

    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md flex flex-col">
            <!--Blog post section-->
            <section>

                <div>
                    <h2 class="text-xl mb-4 font-semibold">All Blog Posts</h2>
                </div>

                <div class="space-y-4">
                    {% for article in blog_articles reversed %}
                    <a href="blog-details/{{article.id}}">
                        <div class="border border-gray-300 p-4 rounded-lg transition-transform transform hover:scale-105">
                            <h3 class="text-lg font-semibold">{{article.youtube_title}}</h3>
                            <p>{{article.generated_content|truncatechars:80}}</p>
                        </div>
                    </a>
                    {% endfor %}
                    <!--Repeat-->
                </div>
                
            </section>
        </div>
    </div>

    <footer class="text-center text-l p-4 text-purple-700 mt-6 transition-transform transform hover:scale-105">
        <a href="https://github.com/CarlBrendt">Powered by Carl Brendt from People</a>
    </footer>
</body>
</html>